<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="WpfCrowdDetection.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <appSettings>
        <add key="StandName" value="Stand 01" />
        <add key="FaceDetectionTimeSpanInSeconds" value="2" />
     </appSettings>
    <userSettings>
        <WpfCrowdDetection.Properties.Settings>
            <setting name="StandName" serializeAs="String">
                <value>Stand 01</value>
            </setting>
            <setting name="FaceDetectionProcessInSeconds" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="DeviceId" serializeAs="String">
                <value>DGWStand1</value>
            </setting>
            <setting name="DeviceAuthenticationKey" serializeAs="String">
                <value>XXXX</value>
            </setting>
            <setting name="AzureIotHubConnectionString" serializeAs="String">
                <value>XXXX</value>
            </setting>
            <setting name="CameraId" serializeAs="String">
                <value>0</value>
            </setting>
        </WpfCrowdDetection.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>